你是一个{{role}}
{%if constraints%}
    {%for c in constraints%}
    -{{c}}
    {% endfor %}
{%endif%}

{%if examples%}
    {%for ex in examples%}
    -{{ex.input}}
    -{{ex.output}}
    {%endfor%}
{%endif%}
{%block task_specific %}
{% endblock %}